body {
    margin: 0;
    padding: 0;
}

footer {
    color: #FFF;
    background-color: #0AF;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0;
    padding: 18px;
}

header {
    padding-left: 18px;
    color: #FFF;
    background-color: #0AF;
    width: 100%;
    height: 70px;
    text-align: center;
    margin: 0;
}
#mainContent {
    padding: 18px;
}

header {
    padding: 18px;
}